<table>

  <tr>
    <th>Username</th>
    <th>Arts</th>
    <th>Description</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.username, user %></td>
      <td><%= user.arts.count %></td>
      <td><%= user.bio.to_s[0..30].gsub(/\s\w+\s*$/, '...') %></td>
    </tr>
  <% end %>

</table>
