<h1>SellOut!</h1>
<p>So you're trying to make a buck off your art/handicrafts, huh?</p>
<p><%= link_to "Join", new_user_path %> the club.</p>
<p>Or, if you've already sold out, <%= link_to "sign in.", login_path %></p>
